@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*, html, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', arial, helvetica, sans-serif;
}

ul {
    margin: 5%;
    width: 450px;
    display: flex;
    flex-direction: row;
    list-style: none;
   
    
}
li {
    color: rgb(204, 0, 0);
    margin:auto;
    font-size: 20px;
    cursor: pointer;
}


li::after{
    display: block;
    content: '';
    border-bottom: solid 2px #00FFFF;
    padding-bottom: 1px;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
li:hover::after{
    transform: scaleX(1);
}
